RewriteEngine On
RewriteBase /

# Ignora arquivos e pastas reais
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redireciona tudo para o index.php
RewriteRule ^ index.php [QSA,L]

# Impede a listagem do conteúdo do diretório
Options -Indexes

# Opcional: redireciona qualquer tentativa de acesso para a raiz do site
# RewriteEngine On
# RewriteRule ^(.*)$ /404 [R=301,L]
